node_modules
dist
target
.git
.devcontainer
.github
.machdoch
.env*
*.md
*.code-workspace
*.db
*.db-shm
*.db-wal
apps/agent-desktop
apps/agent-mobile
apps/api/openapi
apps/api/test
apps/client/src-tauri
apps/client/src/test
apps/client/app-icon.png
apps/client/app-icon.json
apps/client/app-icon-background.png
docs
scripts
**/*.test.ts
**/*.test.tsx
