node_modules/
dist/
target/
.machdoch/
.env
.env.*
!.env.example
!.env.production
*.tsbuildinfo
**/migrations/.snapshot-*_test_*.json
apps/client/src-tauri/gen/
**/android/.tauri/
**/android/build/
*.jks
*.keystore
*.p12
*.pfx
